*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  /* sets all elements to inherit this property from closest ancestor */
  box-sizing: inherit; }

html {
  /* sets font size relative to user's browser settings for responsive styling */
  font-size: 62.5%; }

body {
  /* specifies that padding is folded into height and width calculations */
  box-sizing: border-box; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1.3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1.3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes getBigger {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.4); }
  100% {
    transform: scale(1.5); } }

@keyframes getSmaller {
  0% {
    transform: scale(1.5); }
  100% {
    transform: scale(1); } }

@keyframes moveInBottom {
  0% {
    transform: translateY(7rem);
    opacity: 0; }
  80% {
    transform: translateY(-0.6rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
  padding: 3rem; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  /* the below is to deal with weird jumping after animating the title */
  backface-visibility: hidden;
  margin-bottom: 5rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 0.5s;
    animation-timing-function: ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.775rem;
    animation-name: moveInRight;
    animation-duration: 0.5s;
    animation-timing-function: ease-out; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.17s;
  position: relative; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3); }
  .btn:hover::after {
    transform: scale(1.3) scale(1.4);
    opacity: 0; }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.333rem 1rem rgba(0, 0, 0, 0.3); }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn--animated {
  animation: moveInBottom 0.5s ease-out backwards; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(85, 197, 122, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  /* position used to allow for relative positioning of logo*/
  position: relative;
  /* sets a clip path for background image to be clipped */
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%); }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem;
    transition: all 0.1s; }
    .header__logo:hover {
      animation-name: getBigger;
      animation-duration: 0.2s;
      transform: scale(1.5); }
  .header__text-box {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    text-align: center; }

/* 
    My notes that don't go anywhere in particular

    BEM: Block Element Modifier
        Block: standalone component that is meaningful on its own
        Element: part of a block that has no standalone meaning
        Modifier: different versions of a block or element

        appearances: 
        .block {}
        .block__element {}
        .block__element--modifier {}
    
    7-1 Pattern
        7 different folders for partial Sass files
            base/
            components/
            layout/
            pages/
            themes/
            abstracts/
            vendors/
        1 main Sass file that imports all others into compiled CSS sheet
*/
/* .logo:not(:hover) {
    animation-name: getBigger;
    animation-duration: 0.5s;
    animation-timing-function: ease;
} */
