@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/base";
@import "base/animations";
@import "base/typography";
@import "base/utilities";

@import "components/buttons";

@import "layout/header";

@import "pages/home";


/* 
    My notes that don't go anywhere in particular

    BEM: Block Element Modifier
        Block: standalone component that is meaningful on its own
        Element: part of a block that has no standalone meaning
        Modifier: different versions of a block or element

        appearances: 
        .block {}
        .block__element {}
        .block__element--modifier {}
    
    7-1 Pattern
        7 different folders for partial Sass files
            base/
            components/
            layout/
            pages/
            themes/
            abstracts/
            vendors/
        1 main Sass file that imports all others into compiled CSS sheet
*/

/* .logo:not(:hover) {
    animation-name: getBigger;
    animation-duration: 0.5s;
    animation-timing-function: ease;
} */
