*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    /* sets all elements to inherit this property from closest ancestor */
    box-sizing: inherit;
}

html {
    /* sets font size relative to user's browser settings for responsive styling */
    font-size: 62.5%;
}

body {
    /* specifies that padding is folded into height and width calculations */
    box-sizing: border-box;
}
